---
import type { NavbarLinkProps } from "@/components/astro/NavbarLink/NavbarLink.astro";
import NavbarLink from "@/components/astro/NavbarLink/NavbarLink.astro";

interface NavbarProps {
  links: NavbarLinkProps[];
}

const { links } = Astro.props as NavbarProps;
---

<nav class="navbar w-fit h-fit">
  <ul class="navbar__links flex flex-col w-fit h-fit">
    {
      links.map((link) => (
        <li class="navbar__link flex">
          <NavbarLink href={link.href} text={link.text} />
        </li>
      ))
    }
  </ul>
</nav>

<style>
  @media (min-width: 250px) {
    .navbar__links {
      flex-direction: row;
    }
  }
</style>