---
export interface HomePagePostProps {
  isImgLeft?: boolean;
  isImgRight?: boolean;
  text: string;
  imageSrc: string;
  title?: string;
}
const {
  isImgLeft = false,
  isImgRight = false,
  text = "",
  imageSrc,
  title,
} = Astro.props as HomePagePostProps;
---

<div class="homePagePost w-full h-fit p-2 flex justify-center">
  <div
    class="homePagePost__container w-[80%] h-full flex flex-col lg:flex-row gap-10 justify-center"
  >
    {
      isImgLeft ? (
        <img src={imageSrc} alt="Post image" class="homePagePost__image" />
      ) : (
        ""
      )
    }
    <div class="homePagePost__textBlock flex flex-col gap-4">
      {
        title ? (
          <h4
            class={`homePagePost__title font-bold text-[2.7rem] ${
              isImgLeft ? "text-right mr-10" : "text-left ml-10"
            }`}
          >
            {title}
          </h4>
        ) : (
          ""
        )
      }
      <p
        class={`homePagePost__text text-[1.5rem] ${
          isImgLeft ? "text-right" : "text-left"
        }`}
      >
        {text}
      </p>
    </div>
    {
      isImgRight ? (
        <img src={imageSrc} alt="Post image" class="homePagePost__image" />
      ) : (
        ""
      )
    }
  </div>
</div>

<style lang="css">
  .homePagePost__image {
    @apply w-fit h-auto object-cover sm:w-[500px];
  }
</style>
