---
export interface homePagePostProps {
  imageSide?: "left" | "right";
  text: string;
  imageSrc: string;
}
const { imageSide, text, imageSrc } = Astro.props as homePagePostProps;
---

<div class="homePagePost flex w-full h-fit">
  {
    imageSide === "left" ? (
      <img src={imageSrc} alt="Post image" class="homePagePost__image" />
    ) : (
      ""
    )
  }
  <p class="homePagePost__text">
    {text}
  </p>
  {
    imageSide === "right" ? (
      <img src={imageSrc} alt="Post image" class="homePagePost__image" />
    ) : (
      ""
    )
  }
</div>
