---
export interface homePagePostProps {
  isImgLeft?: boolean;
  isImgRight?: boolean;
  text: string;
  imageSrc: string;
  title?: string;
}
const {
  isImgLeft = false,
  isImgRight = false,
  text = "",
  imageSrc,
  title,
} = Astro.props as homePagePostProps;
---

<div class="homePagePost flex w-full h-fit">
  {
    isImgLeft ? (
      <img src={imageSrc} alt="Post image" class="homePagePost__image" />
    ) : (
      ""
    )
  }
  <div class="homePagePost__textBlock flex flex-col gap-4">
    {
      title ? (
        <h4 class="homePagePost__title font-bold text-[1.2rem]">{title}</h4>
      ) : (
        ""
      )
    }
    <p class="homePagePost__text">
      {text}
    </p>
  </div>
  {
    isImgRight ? (
      <img src={imageSrc} alt="Post image" class="homePagePost__image" />
    ) : (
      ""
    )
  }
</div>
