---
import AboutParagraph, {
  AboutParagraphProps,
} from "@/components/astro/AboutParagraph/AboutParagraph.astro";
import MainLayout, { MainLayoutProps } from "@/layouts/MainLayout.astro";

const pageLayoutProps = {
  title: "About us",
  description: `Punto Di Sapori restaurant About page`,
  isHeaderAbsolute: false,
} as MainLayoutProps;

const aboutParagraphsInfo: AboutParagraphProps[] = [
  {
    text: `Welcome to our Punto Di Sapori! Our goal is to bring the taste and
      atmosphere of Italy to your table. Our menu is carefully crafted to
      showcase traditional Italian dishes, using only the freshest and highest
      quality ingredients. Each dish is prepared with care and attention to
      detail, ensuring that every bite is full of flavor.`,
  },
  {
    text: `Our restaurant is more than just a place to eat – it's a place to gather
      with friends and family, to celebrate life and enjoy the simple pleasures
      of good food and good company. We take pride in our warm and welcoming
      atmosphere, and our friendly staff is always ready to make your experience
      unforgettable.`,
  },
  {
    text: `We invite you to join us for a meal and experience the magic of Italian
      cuisine. Whether it's a romantic dinner for two or a family gathering, we
      have something for everyone. Come and taste the passion and love that we
      put into every dish – we promise you won't be disappointed!`,
  },
];
---

<MainLayout {...pageLayoutProps}>
  <main
    class="aboutPage flex flex-col w-full flex-grow h-full justify-center items-center"
  >
    <ul class="aboutParagraphsList flex flex-col gap-10 w-3/5">
      {
        aboutParagraphsInfo.map((aboutParagraphProps) => (
          <li class="aboutParagraphsList__item w-full">
            <AboutParagraph {...aboutParagraphProps} />
          </li>
        ))
      }
    </ul>
  </main>
</MainLayout>

<style>
  html,
  body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
</style>
