---
import MainLayout, { MainLayoutProps } from "@/layouts/MainLayout.astro";

const pageLayoutProps = {
  title: "About us",
  description: `Punto Di Sapori restaurant "About" page`,
} as MainLayoutProps;
---

<MainLayout {...pageLayoutProps}>
  <main class="aboutPage">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nesciunt
    repellendus tempore minus accusantium. Illum inventore excepturi voluptates
    explicabo vitae, eius quos? Eligendi impedit cum provident animi earum
    facere ea fugiat, saepe dolor doloribus mollitia deleniti ipsam harum maxime
    adipisci nulla placeat labore! Totam id quisquam nisi cum inventore
    excepturi sequi fuga, non vitae! Nemo, dolorum neque possimus laborum
    molestiae reiciendis earum nisi, nostrum officiis, magnam quae optio
    assumenda. Consequuntur perspiciatis vitae et, eos veniam odit repellendus
    autem nam, voluptatum quos fugiat quae iste! Unde impedit ea ullam nobis
    saepe rem, consectetur alias iusto itaque molestias. Accusamus tempore animi
    eveniet numquam totam, facere repellendus magnam incidunt tempora et
    repellat explicabo aut ea ducimus dolores ut facilis esse molestiae,
    deserunt doloribus laboriosam minima dolorum delectus officia. Doloremque in
    fuga vel nobis ut necessitatibus soluta voluptatum, amet, dolorum libero,
    eveniet aperiam harum fugiat! Saepe corporis similique, excepturi id alias
    officia dignissimos quisquam quod placeat eius eum cumque doloremque,
    accusantium, eos qui neque accusamus unde ad iure laborum. Veniam,
    necessitatibus aliquid! Atque sed suscipit iusto, neque dolore rerum
    recusandae cum dicta amet. Magnam beatae necessitatibus, sapiente, aperiam
    ducimus a ratione ipsa ipsam explicabo optio corrupti omnis esse sed fugiat
    sint excepturi aliquam debitis.
  </main>
</MainLayout>
