---
import MainLayout, { MainLayoutProps } from "@/layouts/MainLayout.astro";

const pageLayoutProps = {
  title: "Contact us",
  description: `Punto Di Sapori "Contact-us" page`,
  isHeaderAbsolute: false,
} as MainLayoutProps;
---

<MainLayout {...pageLayoutProps}>
  <main class="contactUsPage">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit in, maxime enim
    nam necessitatibus minus ipsum hic veritatis odit aspernatur, qui ullam
    praesentium accusamus, est facilis porro eligendi doloribus officiis
    assumenda. Illo at maiores dolor nam fugit dicta eveniet! Atque, sunt cum,
    placeat officia debitis autem deserunt, consequuntur sapiente sint ea
    impedit corporis repellat error veniam voluptatum dolorum labore? Ab
    necessitatibus nulla id fugit minima veritatis totam deleniti. Aspernatur ex
    architecto exercitationem recusandae porro ducimus atque temporibus tempore.
    Ab, eveniet deserunt praesentium eaque voluptatibus provident, maxime, odit
    quasi pariatur a rerum iure dicta corrupti id incidunt voluptatum placeat.
    Dolorum sequi numquam atque repudiandae, mollitia placeat amet. Accusantium
    maiores iste libero magni rem possimus, aliquid distinctio aperiam ipsum
    necessitatibus blanditiis consequuntur quis, culpa ipsa hic exercitationem
    aut error veritatis nulla recusandae amet voluptatibus tenetur iusto nemo.
    Possimus saepe corrupti earum molestiae velit nostrum, dolorem delectus
    tempora repellat magni dolore! Nesciunt culpa deleniti dolores repellendus
    perferendis, cum sint quos ipsam vel laudantium accusamus provident illo,
    enim beatae! Ex labore voluptate quaerat amet accusantium quas ratione
    commodi explicabo repudiandae perferendis quos saepe vel numquam delectus
    ullam officia ea aspernatur magni, molestias minima doloremque? Ipsum,
    asperiores vitae dolorum dolore illo placeat rerum consequatur expedita!
  </main>
</MainLayout>
