---
import ContactUsForm, {
  ContactUsFormProps,
} from "@/components/react/ContactUsForm/ContactUsForm";
import MainLayout, { MainLayoutProps } from "@/layouts/MainLayout.astro";

const pageLayoutProps = {
  title: "Contact us",
  description: `Punto Di Sapori "Contact-us" page`,
  isHeaderAbsolute: false,
} as MainLayoutProps;

const contactUsFormProps = {
  inputsProps: [
    {
      text: "First name",
      labelFor: "firstName",
      isRequiredText: "First name cannot be empty",
      Tag: "input",
    },
    {
      text: "Second name",
      labelFor: "secondName",
      Tag: "input",
    },
    {
      text: "Email",
      labelFor: "email",
      isRequiredText: "Email cannot be empty",
      Tag: "input",
    },
    {
      text: "Message",
      labelFor: "message",
      isRequiredText: "Message cannot be empty",
      Tag: "textarea",
    },
  ],
} as ContactUsFormProps;
---

<MainLayout {...pageLayoutProps}>
  <main
    class="contactUsPage flex flex-col flex-grow justify-center items-center p-2"
  >
    <ContactUsForm {...contactUsFormProps} client:load />
  </main>
</MainLayout>

<style>
  html,
  body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
</style>
