---
import ContactUsForm from "@/components/react/ContactUsForm/ContactUsForm";
import MainLayout, { MainLayoutProps } from "@/layouts/MainLayout.astro";

const pageLayoutProps = {
  title: "Contact us",
  description: `Punto Di Sapori "Contact-us" page`,
  isHeaderAbsolute: false,
} as MainLayoutProps;
---

<MainLayout {...pageLayoutProps}>
  <main class="contactUsPage flex flex-col flex-grow justify-center items-center p-2">
    <ContactUsForm client:load/>
  </main>
</MainLayout>

<style>
  body {
    display: flex;
    flex-direction: column;
  }
</style>