---
import EmailForm from "@/components/react/EmailForm/EmailForm";
import MainLayout, { MainLayoutProps } from "@/layouts/MainLayout.astro";

const pageLayoutProps = {
  title: "Contact us",
  description: `Punto Di Sapori "Contact-us" page`,
  isHeaderAbsolute: false,
} as MainLayoutProps;
---

<MainLayout {...pageLayoutProps}>
  <main class="contactUsPage grid content-center">
    <EmailForm client:load/>
  </main>
</MainLayout>
