---
import MainLayout, { MainLayoutProps } from "@/layouts/MainLayout.astro";

const pageLayoutProps = {
  title: "Contact us",
  description: `Punto Di Sapori "Contact-us" page`,
} as MainLayoutProps;
---

<MainLayout {...pageLayoutProps}>
  <main class="contactUsPage"></main>
</MainLayout>
