---
import ImageSwapper from "@/components/react/ImageSwapper/ImageSwapper";
import MainLayout, { MainLayoutProps } from "@/layouts/MainLayout.astro";
import HomePagePost from "@/components/astro/HomePagePost/HomePagePost.astro";
import imageSwapperImage1 from "@/assets/images/imageSwapper/1.jpg";
import imageSwapperImage2 from "@/assets/images/imageSwapper/2.jpg";
import imageSwapperImage3 from "@/assets/images/imageSwapper/3.jpg";
import imageSwapperImage4 from "@/assets/images/imageSwapper/4.jpg";
import imageSwapperImage5 from "@/assets/images/imageSwapper/5.jpg";

const pageLayoutProps = {
  title: "Home",
  description: `Punto Di Sapori "Home" page`,
  isHeaderAbsolute: true,
} as MainLayoutProps;

const imageSwapperImagesNames = [
  imageSwapperImage1,
  imageSwapperImage2,
  imageSwapperImage3,
  imageSwapperImage4,
  imageSwapperImage5,
].sort((_) => Math.random() - 0.5);
---

<MainLayout {...pageLayoutProps}>
  <main class="homePage w-full h-full">
    <ImageSwapper picturesNames={imageSwapperImagesNames} client:load />
    <HomePagePost text={"hahaha"} isImgRight={true} title="haha" />
    <HomePagePost text={"hahaha"} isImgLeft={true} title="haha" />
    <HomePagePost text={"hahaha"} isImgLeft={true} title="haha" />
  </main>
</MainLayout>

<style></style>
