---
import MainLayout from "@/layouts/MainLayout.astro";

const title = "Welcome";
const description = "Welcome to Restaurant App home page";
---

<MainLayout {title} {description}>
  <main></main>
</MainLayout>

<style></style>
