---
import ImageSwapper from "@/components/react/ImageSwapper/ImageSwapper";
import MainLayout, { MainLayoutProps } from "@/layouts/MainLayout.astro";
import HomePagePost from "@/components/astro/HomePagePost/HomePagePost.astro";
import imageSwapperImage1 from "@/assets/images/imageSwapper/1.jpg";
import imageSwapperImage2 from "@/assets/images/imageSwapper/2.jpg";
import imageSwapperImage3 from "@/assets/images/imageSwapper/3.jpg";
import imageSwapperImage4 from "@/assets/images/imageSwapper/4.jpg";
import imageSwapperImage5 from "@/assets/images/imageSwapper/5.jpg";

const pageLayoutProps = {
  title: "Home",
  description: `Punto Di Sapori "Home" page`,
  isHeaderAbsolute: true,
} as MainLayoutProps;

const testText =
  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nulla consequuntur veritatis dolore voluptate rerum. Ipsam aut voluptatem assumenda molestias nihil, magnam, iure quia, asperiores quae officiis earum deserunt deleniti.";

const imageSwapperImagesNames = [
  imageSwapperImage1,
  imageSwapperImage2,
  imageSwapperImage3,
  imageSwapperImage4,
  imageSwapperImage5,
].sort((_) => Math.random() - 0.5);
---

<MainLayout {...pageLayoutProps}>
  <main class="homePage w-full h-full">
    <ImageSwapper picturesNames={imageSwapperImagesNames} client:load />
    <div class="homePage__content p-4">
      <div class="homePage__posts flex flex-col gap-10">
        <HomePagePost
          text={testText}
          isImgRight
          title="haha"
          imageSrc={"https://www.refrigeratedfrozenfood.com/ext/resources/NEW_RD_Website/DefaultImages/default-pasta.jpg?1430942591"}
        />
        <HomePagePost
          text={testText}
          isImgLeft
          title="haha"
          imageSrc={"https://www.refrigeratedfrozenfood.com/ext/resources/NEW_RD_Website/DefaultImages/default-pasta.jpg?1430942591"}
        />
        <HomePagePost
          text={testText}
          isImgRight
          title="haha"
          imageSrc={"https://www.refrigeratedfrozenfood.com/ext/resources/NEW_RD_Website/DefaultImages/default-pasta.jpg?1430942591"}
        />
      </div>
    </div>
  </main>
</MainLayout>
