---
import ImageSwapper from "@/components/react/ImageSwapper/ImageSwapper";
import MainLayout, { MainLayoutProps } from "@/layouts/MainLayout.astro";
import HomePagePost, {
  HomePagePostProps,
} from "@/components/astro/HomePagePost/HomePagePost.astro";
import imageSwapperImage1 from "@/assets/images/imageSwapper/1.jpg";
import imageSwapperImage2 from "@/assets/images/imageSwapper/2.jpg";
import imageSwapperImage3 from "@/assets/images/imageSwapper/3.jpg";
import imageSwapperImage4 from "@/assets/images/imageSwapper/4.jpg";
import imageSwapperImage5 from "@/assets/images/imageSwapper/5.jpg";

const pageLayoutProps = {
  title: "Punto Di Sapori",
  description: `Punto Di Sapori Home page`,
  isHeaderAbsolute: true,
} as MainLayoutProps;

const testText =
  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, nulla consequuntur veritatis dolore voluptate rerum. Ipsam aut voluptatem assumenda molestias nihil, magnam, iure quia, asperiores quae officiis earum deserunt deleniti.";

const imageSwapperImagesNames = [
  imageSwapperImage1,
  imageSwapperImage2,
  imageSwapperImage3,
  imageSwapperImage4,
  imageSwapperImage5,
].sort((_) => Math.random() - 0.5);

const postsProps = [
  {
    text: "Our Italian restaurant is a dream come true for lovers of authentic Italian cuisine",
    isImgRight: true,
    title: "Italian food",
    imageSrc:
      "https://www.refrigeratedfrozenfood.com/ext/resources/NEW_RD_Website/DefaultImages/default-pasta.jpg?1430942591",
  },
  {
    text: "At our restaurant, you'll be transported to the streets of Rome with every bite of our handmade pasta and wood-fired pizza",
    isImgLeft: true,
    title: "Get ready for the trip",
    imageSrc:
      "https://www.refrigeratedfrozenfood.com/ext/resources/NEW_RD_Website/DefaultImages/default-pasta.jpg?1430942591",
  },
  {
    text: "Our menu is carefully crafted with the freshest ingredients and traditional Italian recipes passed down through generations",
    isImgRight: true,
    title: "Menu",
    imageSrc:
      "https://www.refrigeratedfrozenfood.com/ext/resources/NEW_RD_Website/DefaultImages/default-pasta.jpg?1430942591",
  },
  {
    text: "From the cozy atmosphere to the warm and friendly service, our Italian restaurant is the perfect place to enjoy a taste of Italy",
    isImgLeft: true,
    title: "Service",
    imageSrc:
      "https://www.refrigeratedfrozenfood.com/ext/resources/NEW_RD_Website/DefaultImages/default-pasta.jpg?1430942591",
  },
] as HomePagePostProps[];
---

<MainLayout {...pageLayoutProps}>
  <main class="homePage w-full h-fit flex flex-col flex-grow">
    <ImageSwapper picturesNames={imageSwapperImagesNames} client:load />
    <div class="homePage__content w-full h-full p-4">
      <div class="homePage__posts flex flex-col gap-10">
        {postsProps.map((postProps) => <HomePagePost {...postProps} />)}
      </div>
    </div>
  </main>
</MainLayout>

<style>
  html,
  body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
</style>
