---
import Navbar from "@/components/astro/Navbar/Navbar.astro";
import { Icon } from "astro-icon";

export interface HeaderProps {
  isAbsolute?: boolean;
}

const { isAbsolute = false } = Astro.props as HeaderProps;
---

<header
  class={`header ${
    isAbsolute ? "absolute bg-opacity-80" : ""
  } w-full h-[150px] p-4 z-[3] bg-black`}
>
  <div
    class="header__container w-full h-full flex flex-col md:flex-row justify-around items-center"
  >
    <h1 class="navbarTitle">
      <a
        href="/"
        class="navbarTitle__link flex justify-center items-center gap-2"
        title="Go to home page"
      >
        <img
          src="/favicon.png"
          loading="lazy"
          alt="World Image"
          class="navbarTitle__image flex w-[25px] md:w-[50px] h-[25px] md:h-[50px]"
        />
        <span
          class="navbarTitle__text text-[1.5rem] text-white font-bold md:text-[3rem] text-center"
        >
          Punto Di Sapori
        </span>
      </a>
    </h1>
    <div class="socials flex gap-5">
      <a href="https://www.instagram.com/" title="Instagram">
        <Icon name="mdi:instagram" class="socials__link" />
      </a>
      <a href="https://www.facebook.com/" title="Facebook link">
        <Icon name="ic:baseline-facebook" class="socials__link" />
      </a>
      <a href="https://twitter.com/" title="Twitter link">
        <Icon name="mdi:twitter" class="socials__link" />
      </a>
    </div>
    <Navbar />
  </div>
</header>

<style lang="scss">
  .navbarTitle__text {
    font-family: "Montserrat", sans-serif;
  }
  .socials__link {
    @apply h-[25px] w-[25px] md:h-[40px] md:w-[40px];
    color: white;
    opacity: 0.5;
    transition: all 0.3s ease-out;
    &:hover {
      opacity: 1;
    }
  }
</style>
