---
import Navbar from "@/components/astro/Navbar/Navbar.astro";
import type { NavbarLinkProps } from "@/components/astro/NavbarLink/NavbarLink.astro";
import type { SocialLinkProps } from "@/components/astro/SocialLink/SocialLink.astro";
import SocialLink from "@/components/astro/SocialLink/SocialLink.astro";

export interface HeaderProps {
  isAbsolute?: boolean;
  navbarLinks: NavbarLinkProps[];
}
const socialLinksProps: SocialLinkProps[] = [
  {
    href: "https://www.facebook.com/",
    iconName: "ic:baseline-facebook",
    titleText: "Facebook",
  },
  {
    href: "https://www.instagram.com/",
    iconName: "mdi:instagram",
    titleText: "Instagram",
  },
  {
    href: "https://twitter.com/",
    iconName: "mdi:twitter",
    titleText: "Twitter",
  },
];

const { isAbsolute = false, navbarLinks } = Astro.props as HeaderProps;
---

<header
  class={`header ${
    isAbsolute ? "absolute bg-opacity-80" : ""
  } w-full h-[150px] p-4 z-[3] bg-black`}
>
  <div
    class="header__container w-full h-full flex flex-col md:flex-row justify-around items-center"
  >
    <h1 class="navbarTitle hidden">
      <a
        href="/"
        class="navbarTitle__link flex justify-center items-center gap-2"
        title="Go to home page"
      >
        <img
          src="/favicon.png"
          loading="lazy"
          alt="World Image"
          class="navbarTitle__image flex w-[25px] md:w-[50px] h-[25px] md:h-[50px]"
        />
        <span
          class="navbarTitle__text text-[1.5rem] text-white font-bold md:text-[3rem] text-center stylishText"
        >
          Punto Di Sapori
        </span>
      </a>
    </h1>
    <ul class="socials hidden gap-5">
      {
        socialLinksProps.map((linkProps) => (
          <li class="socials__link">
            <SocialLink {...linkProps} />
          </li>
        ))
      }
    </ul>
    <Navbar links={navbarLinks} />
  </div>
</header>

<style lang="scss">
  @media (min-width: 250px) {
    .socials {
      display: flex;
    }
    .navbarTitle {
      display: flex;
    }
  }
</style>
