---
export type NavbarLinkProps = {
  href: string;
  text: string;
};

const { href, text } = Astro.props as NavbarLinkProps;
---

<a
  href={href}
  class="navbarLink md:text-[1.8rem] text-[1rem] py-1 px-2 md:py-3 md:px-4 text-white flex flex-grow bg-white bg-opacity-0 hover:bg-opacity-30 transition-all duration-300"
>
  {text}
</a>
