---
import MainHead from "./MainHead.astro";

interface MainLayoutProps {
  title?: string;
  description?: string;
}

const { title = "Restaurant App", description = "Welcome to Restaurant App" } =
  Astro.props as MainLayoutProps;
---

<!DOCTYPE html>
<html lang="en">
  <MainHead {title} {description} />
  <body class="items-center">
    <slot />
    <style lang="scss" is:global>
      html,
      body {
        width: 100%;
        height: 100%;
      }
    </style>
  </body>
</html>
