---
import MainHead from "./MainHead.astro";
import "@/styles/global.scss";

interface MainLayoutProps {
  title?: string;
  description?: string;
}

const { title = "Restaurant App", description = "Welcome to Restaurant App" } =
  Astro.props as MainLayoutProps;
---

<!DOCTYPE html>
<html lang="en">
  <MainHead {title} {description} />
  <body class="items-center">
    <slot />
  </body>
</html>
