---
import MainHead from "./MainHead.astro";
import "@/styles/global.scss";
import Navbar from "@/components/Navbar/Navbar.astro";
import type { NavbarLinkProps } from "@/components/NavbarLink/NavbarLink.astro";

interface MainLayoutProps {
  title?: string;
  description?: string;
}

const { title = "Restaurant App", description = "Welcome to Restaurant App" } =
  Astro.props as MainLayoutProps;

const navbarLinks = [
  {
    href: "/",
    text: "Home",
  },
  {
    href: "/about",
    text: "About",
  },
  {
    href: "/",
    text: "Home",
  },
] as NavbarLinkProps[];
---

<!DOCTYPE html>
<html lang="en">
  <MainHead title={title} description={description} />
  <body class="items-center">
    <Navbar links={navbarLinks} />
    <slot />
  </body>
</html>
