---
import Header from "@/components/Header/Header.astro";
import MainHead from "@/layouts/MainHead.astro";

import "@/styles/global.scss";

interface MainLayoutProps {
  title?: string;
  description?: string;
}

const { title = "Restaurant App", description = "Welcome to Restaurant App" } =
  Astro.props as MainLayoutProps;
---

<!DOCTYPE html>
<html lang="en">
  <MainHead title={title} description={description} />
  <body class="items-center">
    <Header />
    <slot />
  </body>
</html>
