---
---

<footer
  class="footer w-full bg-black text-white p-4 flex gap-4 justify-center items-center"
>
  <span class="footer__text text-center text-[0.8rem] sm:text-[1rem]">
    &copy; Borets Yury, 2023-2023, for all question write to
    <a
      class="footer__link font-bold underline"
      href="mailto:udborets@gmail.com"
    >
      udborets@gmail.com
    </a>
  </span>
</footer>
